In [1]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_excel("Sales Analysis Report.xlsx")

In [4]:
df

,OrderNumber,OrderDate,Ship Date,Customer Name Index,Channel,Currency Code,Warehouse Code,Region Index,Product Index,Order Quantity,Unit Price,Total Unit Cost,Total Revenue
0,SO - 000225,2017-01-01,2017-01-13,28,Wholesale,NZD,AXW291,71,11,6,2499.1,1824.343,14994.6
1,SO - 0003378,2017-01-01,2017-01-06,7,Distributor,NZD,AXW291,54,7,11,2351.7,1269.918,25868.7
2,SO - 0003901,2017-01-01,2017-01-05,12,Wholesale,NZD,AXW291,58,13,5,1728.6,1019.874,8643.0
3,SO - 0005126,2017-01-01,2017-01-17,5,Wholesale,USD,AXW291,29,7,6,978.2,684.740,5869.2
4,SO - 0005614,2017-01-01,2017-01-07,27,Export,NZD,AXW291,31,6,7,2338.3,1028.852,16368.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
7986,SO - 0005237,2019-12-12,2019-12-16,41,Wholesale,NZD,FLR025,93,9,7,261.3,107.133,1829.1
7987,SO - 0005477,2019-12-12,2019-12-27,28,Distributor,AUD,FLR025,56,2,7,1996.6,1477.484,13976.2
7988,SO - 0006936,2019-12-12,2019-12-27,30,Wholesale,NZD,FLR025,66,1,9,3912.8,2817.216,35215.2
7989,SO - 0007126,2019-12-12,2019-12-25,6,Distributor,USD,FLR025,31,5,10,1855.9,1113.540,18559.0
7990,SO - 0007668,2019-12-12,2019-12-25,4,Wholesale,NZD,FLR025,65,13,11,3959.7,2138.238,43556.7

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7991 entries, 0 to 7990
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   OrderNumber          7991 non-null   object
 1   OrderDate            7991 non-null   datetime64[ns]
 2   Ship Date            7991 non-null   datetime64[ns]
 3   Customer Name Index  7991 non-null   int64
 4   Channel              7991 non-null   object
 5   Currency Code        7991 non-null   object
 6   Warehouse Code       7991 non-null   object
 7   Region Index         7991 non-null   int64
 8   Product  Index       7991 non-null   int64
 9   Order Quantity       7991 non-null   int64
 10  Unit Price           7991 non-null   float64
 11  Total Unit Cost      7991 non-null   float64
 12  Total Revenue        7991 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(4), object(4)
memory usage: 811.7+ KB

In [41]:
df.rename(columns={"Customer Name Index":"customers","Region Index":"regions","Product  Index":"products","Order Quantity":"orders","Total Unit Cost":"unit cost","Total Revenue":"revenue"},inplace=True)

In [43]:
df.head()

,OrderNumber,OrderDate,Ship Date,customers,Channel,Currency Code,Warehouse Code,regions,products,orders,Unit Price,unit cost,revenue
0,SO - 000225,2017-01-01,2017-01-13,28,Wholesale,NZD,AXW291,71,11,6,2499.1,1824.343,14994.6
1,SO - 0003378,2017-01-01,2017-01-06,7,Distributor,NZD,AXW291,54,7,11,2351.7,1269.918,25868.7
2,SO - 0003901,2017-01-01,2017-01-05,12,Wholesale,NZD,AXW291,58,13,5,1728.6,1019.874,8643.0
3,SO - 0005126,2017-01-01,2017-01-17,5,Wholesale,USD,AXW291,29,7,6,978.2,684.740,5869.2
4,SO - 0005614,2017-01-01,2017-01-07,27,Export,NZD,AXW291,31,6,7,2338.3,1028.852,16368.1

In [39]:
df.loc[:,["Channel","orders"]["products","Total Revenue"]]

<>:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
<>:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
C:\Users\D PRAVEEN\AppData\Local\Temp\ipykernel_6520\3294915707.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  df.loc[:,["Channel","orders"]["products","Total Revenue"]]
C:\Users\D PRAVEEN\AppData\Local\Temp\ipykernel_6520\3294915707.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  df.loc[:,["Channel","orders"]["products","Total Revenue"]]
C:\Users\D PRAVEEN\AppData\Local\Temp\ipykernel_6520\3294915707.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  df.loc[:,["Channel","orders"]["products","Total Revenue"]]
C:\Users\D PRAVEEN\AppData\Local\Temp\ipykernel_6520\3294915707.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  df.loc[:,["Channel","orders"]["products","Total Revenue"]]
C:\Users\D PRAVEEN\AppData\Local\Temp\ipykernel_6520\3294915707.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  df.loc[:,["Channel","orders"]["products","Total Revenue"]]
C:\Users\D PRAVEEN\AppData\Local\Temp\ipykernel_6520\3294915707.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  df.loc[:,["Channel","orders"]["products","Total Revenue"]]
C:\Users\D PRAVEEN\AppData\Local\Temp\ipykernel_6520\3294915707.py:1: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  df.loc[:,["Channel","orders"]["products","Total Revenue"]]

TypeError: list indices must be integers or slices, not tuple

In [45]:
df.set_index("customers",inplace=True)

In [47]:
df.head()

,OrderNumber,OrderDate,Ship Date,Channel,Currency Code,Warehouse Code,regions,products,orders,Unit Price,unit cost,revenue
customers,,,,,,,,,,,,
28,SO - 000225,2017-01-01,2017-01-13,Wholesale,NZD,AXW291,71,11,6,2499.1,1824.343,14994.6
7,SO - 0003378,2017-01-01,2017-01-06,Distributor,NZD,AXW291,54,7,11,2351.7,1269.918,25868.7
12,SO - 0003901,2017-01-01,2017-01-05,Wholesale,NZD,AXW291,58,13,5,1728.6,1019.874,8643.0
5,SO - 0005126,2017-01-01,2017-01-17,Wholesale,USD,AXW291,29,7,6,978.2,684.740,5869.2
27,SO - 0005614,2017-01-01,2017-01-07,Export,NZD,AXW291,31,6,7,2338.3,1028.852,16368.1

In [53]:
df.sort_index(inplace=True)

In [59]:
df.loc[1:10,["Channel","OrderDate"]]

               Channel  OrderDate
customers
1          Distributor 2018-05-21
1            Wholesale 2017-08-18
1            Wholesale 2018-10-02
1            Wholesale 2018-02-02
1          Distributor 2019-05-10
...                ...        ...
10              Export 2017-03-28
10           Wholesale 2017-02-14
10           Wholesale 2017-02-12
10         Distributor 2018-09-10
10              Export 2017-03-27

[1561 rows x 2 columns]

In [61]:
df["Channel"].unique()

array(['Distributor', 'Wholesale', 'Export'], dtype=object)

In [69]:
data_exports=df.loc[df["Channel"]=="Export"]
data_exports

,OrderNumber,OrderDate,Ship Date,Channel,Currency Code,Warehouse Code,regions,products,orders,Unit Price,unit cost,revenue
customers,,,,,,,,,,,,
1,SO - 0004336,2017-03-15,2017-03-26,Export,NZD,AXW291,60,9,9,268.0,227.800,2412.0
1,SO - 0007426,2019-04-17,2019-04-22,Export,NZD,NXH382,2,7,6,2994.9,2455.818,17969.4
1,SO - 0005639,2017-02-13,2017-02-20,Export,USD,AXW291,7,3,5,227.8,186.796,1139.0
1,SO - 0003499,2018-09-10,2018-09-16,Export,AUD,GUT930,92,5,5,1172.5,914.550,5862.5
1,SO - 0002172,2019-06-06,2019-06-11,Export,AUD,NXH382,79,1,5,5681.6,3749.856,28408.0
...,...,...,...,...,...,...,...,...,...,...,...,...
50,SO - 0004132,2018-07-27,2018-08-08,Export,AUD,GUT930,58,7,6,1105.5,873.345,6633.0
50,SO - 0001810,2017-07-22,2017-07-25,Export,NZD,AXW291,9,1,10,1072.0,889.760,10720.0
50,SO - 0003361,2017-02-26,2017-03-11,Export,EUR,AXW291,45,7,12,3953.0,3241.460,47436.0
50,SO - 0007679,2019-01-26,2019-02-12,Export,AUD,NXH382,58,9,11,5400.2,2322.086,59402.2
50,SO - 0005854,2019-07-11,2019-07-23,Export,EUR,NXH382,34,5,9,2338.3,1215.916,21044.7

In [63]:
df["Currency Code"].unique()

array(['NZD', 'USD', 'AUD', 'GBP', 'EUR'], dtype=object)

In [75]:
df.loc[(df["Channel"]=="Export")&(df["Currency Code"]=="USD")]

,OrderNumber,OrderDate,Ship Date,Channel,Currency Code,Warehouse Code,regions,products,orders,Unit Price,unit cost,revenue
customers,,,,,,,,,,,,
1,SO - 0005639,2017-02-13,2017-02-20,Export,USD,AXW291,7,3,5,227.8,186.796,1139.0
1,SO - 0001416,2018-09-16,2018-09-26,Export,USD,GUT930,26,2,6,5205.9,4372.956,31235.4
1,SO - 0003477,2019-02-07,2019-02-19,Export,USD,NXH382,83,7,12,1092.1,633.418,13105.2
1,SO - 0005251,2017-11-17,2017-11-21,Export,USD,AXW291,22,1,5,837.5,502.500,4187.5
1,SO - 000511,2019-12-03,2019-12-10,Export,USD,FLR025,5,5,6,3919.5,3331.575,23517.0
...,...,...,...,...,...,...,...,...,...,...,...,...
50,SO - 0007151,2017-05-16,2017-05-28,Export,USD,AXW291,57,3,9,964.8,520.992,8683.2
50,SO - 0001350,2019-02-05,2019-02-20,Export,USD,NXH382,79,10,8,187.6,121.940,1500.8
50,SO - 0003188,2019-03-17,2019-04-02,Export,USD,NXH382,62,7,6,2619.7,1047.880,15718.2
50,SO - 0007090,2017-11-16,2017-11-24,Export,USD,AXW291,96,13,5,2345.0,1172.500,11725.0
50,SO - 0004268,2018-05-09,2018-05-19,Export,USD,AXW291,35,1,8,201.0,148.740,1608.0

In [99]:
df.loc[(df["Channel"]=="Wholesale") & (df["Currency Code"]=="USD") & (df["orders"]==5)]

,OrderNumber,OrderDate,Ship Date,Channel,Currency Code,Warehouse Code,regions,products,orders,Unit Price,unit cost,revenue
customers,,,,,,,,,,,,
1,SO - 0006329,2019-07-09,2019-07-21,Wholesale,USD,NXH382,23,12,5,2713.5,1600.965,13567.5
1,SO - 0005047,2019-03-19,2019-04-04,Wholesale,USD,NXH382,25,7,5,5996.5,4557.340,29982.5
1,SO - 0003347,2018-11-29,2018-12-17,Wholesale,USD,GUT930,49,9,5,3604.6,2379.036,18023.0
1,SO - 0007591,2018-05-14,2018-05-29,Wholesale,USD,AXW291,36,1,5,5246.1,3619.809,26230.5
1,SO - 0001471,2017-06-10,2017-06-18,Wholesale,USD,AXW291,63,2,5,3906.1,2304.599,19530.5
...,...,...,...,...,...,...,...,...,...,...,...,...
49,SO - 0001588,2017-07-02,2017-07-19,Wholesale,USD,AXW291,9,7,5,5842.4,4557.072,29212.0
50,SO - 0002983,2019-05-02,2019-05-08,Wholesale,USD,NXH382,40,2,5,227.8,164.016,1139.0
50,SO - 0003547,2017-08-22,2017-09-06,Wholesale,USD,AXW291,91,6,5,5279.6,3431.740,26398.0
50,SO - 0004482,2018-07-08,2018-07-21,Wholesale,USD,GUT930,98,11,5,743.7,572.649,3718.5
50,SO - 0006660,2018-06-29,2018-07-02,Wholesale,USD,GUT930,18,5,5,6083.6,2980.964,30418.0

In [87]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7991 entries, 1 to 50
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   OrderNumber     7991 non-null   object
 1   OrderDate       7991 non-null   datetime64[ns]
 2   Ship Date       7991 non-null   datetime64[ns]
 3   Channel         7991 non-null   object
 4   Currency Code   7991 non-null   object
 5   Warehouse Code  7991 non-null   object
 6   regions         7991 non-null   int64
 7   products        7991 non-null   int64
 8   orders          7991 non-null   int64
 9   Unit Price      7991 non-null   float64
 10  unit cost       7991 non-null   float64
 11  revenue         7991 non-null   float64
dtypes: datetime64[ns](2), float64(3), int64(3), object(4)
memory usage: 1.0+ MB

In [93]:
df

,OrderNumber,OrderDate,Ship Date,Channel,Currency Code,Warehouse Code,regions,products,orders,Unit Price,unit cost,revenue
customers,,,,,,,,,,,,
1,SO - 000942,2018-05-21,2018-06-07,Distributor,NZD,GUT930,7,2,9,1031.8,515.900,9286.2
1,SO - 000798,2017-08-18,2017-09-01,Wholesale,USD,AXW291,78,7,10,2311.5,1525.590,23115.0
1,SO - 0007537,2018-10-02,2018-10-19,Wholesale,NZD,GUT930,46,7,7,1989.9,1114.344,13929.3
1,SO - 0001209,2018-02-02,2018-02-19,Wholesale,USD,AXW291,62,9,12,174.2,114.972,2090.4
1,SO - 0006258,2019-05-10,2019-05-24,Distributor,USD,NXH382,32,1,11,3946.3,1657.446,43409.3
...,...,...,...,...,...,...,...,...,...,...,...,...
50,SO - 0003284,2019-04-19,2019-05-05,Wholesale,GBP,NXH382,51,11,8,2378.5,1379.530,19028.0
50,SO - 0001056,2019-03-25,2019-04-07,Distributor,NZD,NXH382,79,11,5,2881.0,1325.260,14405.0
50,SO - 0007341,2017-12-01,2017-12-14,Distributor,USD,AXW291,87,13,11,2291.4,1214.442,25205.4
50,SO - 0002406,2019-09-23,2019-09-30,Distributor,NZD,FLR025,74,11,10,3892.7,1557.080,38927.0
50,SO - 0005854,2019-07-11,2019-07-23,Export,EUR,NXH382,34,5,9,2338.3,1215.916,21044.7

In [109]:
pd.to_datetime(df["OrderDate"])
df["YEAR"]=df["OrderDate"].dt.year
df["MONTH"]=df["OrderDate"].dt.month_name()
df["DAYS"]=df["OrderDate"].dt.day_name()

In [111]:
df.head()

,OrderNumber,OrderDate,Ship Date,Channel,Currency Code,Warehouse Code,regions,products,orders,Unit Price,unit cost,revenue,YEAR,MONTH,DAYS
customers,,,,,,,,,,,,,,,
1,SO - 000942,2018-05-21,2018-06-07,Distributor,NZD,GUT930,7,2,9,1031.8,515.900,9286.2,2018,May,Monday
1,SO - 000798,2017-08-18,2017-09-01,Wholesale,USD,AXW291,78,7,10,2311.5,1525.590,23115.0,2017,August,Friday
1,SO - 0007537,2018-10-02,2018-10-19,Wholesale,NZD,GUT930,46,7,7,1989.9,1114.344,13929.3,2018,October,Tuesday
1,SO - 0001209,2018-02-02,2018-02-19,Wholesale,USD,AXW291,62,9,12,174.2,114.972,2090.4,2018,February,Friday
1,SO - 0006258,2019-05-10,2019-05-24,Distributor,USD,NXH382,32,1,11,3946.3,1657.446,43409.3,2019,May,Friday

In [125]:
df.group_by[(df["revenue"].sum()) & df["YEAR"]==2018]

AttributeError: 'DataFrame' object has no attribute 'Group_by'

In [119]:
df["YEAR"].unique()

array([2018, 2017, 2019])

In [129]:
df["weekday"]=df["OrderDate"].dt.weekday

In [131]:
df.head()

,OrderNumber,OrderDate,Ship Date,Channel,Currency Code,Warehouse Code,regions,products,orders,Unit Price,unit cost,revenue,YEAR,MONTH,DAYS,weekday
customers,,,,,,,,,,,,,,,,
1,SO - 000942,2018-05-21,2018-06-07,Distributor,NZD,GUT930,7,2,9,1031.8,515.900,9286.2,2018,May,Monday,0
1,SO - 000798,2017-08-18,2017-09-01,Wholesale,USD,AXW291,78,7,10,2311.5,1525.590,23115.0,2017,August,Friday,4
1,SO - 0007537,2018-10-02,2018-10-19,Wholesale,NZD,GUT930,46,7,7,1989.9,1114.344,13929.3,2018,October,Tuesday,1
1,SO - 0001209,2018-02-02,2018-02-19,Wholesale,USD,AXW291,62,9,12,174.2,114.972,2090.4,2018,February,Friday,4
1,SO - 0006258,2019-05-10,2019-05-24,Distributor,USD,NXH382,32,1,11,3946.3,1657.446,43409.3,2019,May,Friday,4

In [135]:
df["WEEKEND"]=df["weekday"].apply(lambda x: "Weekend" if x>=5 else "weekdays")

In [137]:
df.head()

,OrderNumber,OrderDate,Ship Date,Channel,Currency Code,Warehouse Code,regions,products,orders,Unit Price,unit cost,revenue,YEAR,MONTH,DAYS,weekday,WEEKEND
customers,,,,,,,,,,,,,,,,,
1,SO - 000942,2018-05-21,2018-06-07,Distributor,NZD,GUT930,7,2,9,1031.8,515.900,9286.2,2018,May,Monday,0,weekdays
1,SO - 000798,2017-08-18,2017-09-01,Wholesale,USD,AXW291,78,7,10,2311.5,1525.590,23115.0,2017,August,Friday,4,weekdays
1,SO - 0007537,2018-10-02,2018-10-19,Wholesale,NZD,GUT930,46,7,7,1989.9,1114.344,13929.3,2018,October,Tuesday,1,weekdays
1,SO - 0001209,2018-02-02,2018-02-19,Wholesale,USD,AXW291,62,9,12,174.2,114.972,2090.4,2018,February,Friday,4,weekdays
1,SO - 0006258,2019-05-10,2019-05-24,Distributor,USD,NXH382,32,1,11,3946.3,1657.446,43409.3,2019,May,Friday,4,weekdays

In [151]:
df.iloc[0:10,2:10]

,Ship Date,Channel,Currency Code,Warehouse Code,regions,products,orders,Unit Price
customers,,,,,,,,
1,2018-06-07,Distributor,NZD,GUT930,7,2,9,1031.8
1,2017-09-01,Wholesale,USD,AXW291,78,7,10,2311.5
1,2018-10-19,Wholesale,NZD,GUT930,46,7,7,1989.9
1,2018-02-19,Wholesale,USD,AXW291,62,9,12,174.2
1,2019-05-24,Distributor,USD,NXH382,32,1,11,3946.3
1,2019-05-24,Distributor,AUD,NXH382,14,2,6,268.0
1,2017-08-27,Distributor,AUD,AXW291,58,2,7,268.0
1,2017-09-06,Distributor,GBP,AXW291,56,13,5,1876.0
1,2017-03-26,Export,NZD,AXW291,60,9,9,268.0
1,2017-08-24,Wholesale,USD,AXW291,67,7,9,1768.8

In [153]:
df["Maunfacture Price"]=df["orders"]*df["unit cost"]
df["Profit"]=df["revenue"]-df["Maunfacture Price"]

In [155]:
df.head()

,OrderNumber,OrderDate,Ship Date,Channel,Currency Code,Warehouse Code,regions,products,orders,Unit Price,unit cost,revenue,YEAR,MONTH,DAYS,weekday,WEEKEND,Maunfacture Price,Profit
customers,,,,,,,,,,,,,,,,,,,
1,SO - 000942,2018-05-21,2018-06-07,Distributor,NZD,GUT930,7,2,9,1031.8,515.900,9286.2,2018,May,Monday,0,weekdays,4643.100,4643.100
1,SO - 000798,2017-08-18,2017-09-01,Wholesale,USD,AXW291,78,7,10,2311.5,1525.590,23115.0,2017,August,Friday,4,weekdays,15255.900,7859.100
1,SO - 0007537,2018-10-02,2018-10-19,Wholesale,NZD,GUT930,46,7,7,1989.9,1114.344,13929.3,2018,October,Tuesday,1,weekdays,7800.408,6128.892
1,SO - 0001209,2018-02-02,2018-02-19,Wholesale,USD,AXW291,62,9,12,174.2,114.972,2090.4,2018,February,Friday,4,weekdays,1379.664,710.736
1,SO - 0006258,2019-05-10,2019-05-24,Distributor,USD,NXH382,32,1,11,3946.3,1657.446,43409.3,2019,May,Friday,4,weekdays,18231.906,25177.394

In [171]:
df["SEPMONTH"]=df["MONTH"].apply(lambda x: "first" if x in["January","Feburary","March","April","May","June"] else "second")
df

,OrderNumber,OrderDate,Ship Date,Channel,Currency Code,Warehouse Code,regions,products,orders,Unit Price,unit cost,revenue,YEAR,MONTH,DAYS,weekday,WEEKEND,Maunfacture Price,Profit,SEPMONTH
customers,,,,,,,,,,,,,,,,,,,,
1,SO - 000942,2018-05-21,2018-06-07,Distributor,NZD,GUT930,7,2,9,1031.8,515.900,9286.2,2018,May,Monday,0,weekdays,4643.100,4643.100,first
1,SO - 000798,2017-08-18,2017-09-01,Wholesale,USD,AXW291,78,7,10,2311.5,1525.590,23115.0,2017,August,Friday,4,weekdays,15255.900,7859.100,second
1,SO - 0007537,2018-10-02,2018-10-19,Wholesale,NZD,GUT930,46,7,7,1989.9,1114.344,13929.3,2018,October,Tuesday,1,weekdays,7800.408,6128.892,second
1,SO - 0001209,2018-02-02,2018-02-19,Wholesale,USD,AXW291,62,9,12,174.2,114.972,2090.4,2018,February,Friday,4,weekdays,1379.664,710.736,second
1,SO - 0006258,2019-05-10,2019-05-24,Distributor,USD,NXH382,32,1,11,3946.3,1657.446,43409.3,2019,May,Friday,4,weekdays,18231.906,25177.394,first
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
50,SO - 0003284,2019-04-19,2019-05-05,Wholesale,GBP,NXH382,51,11,8,2378.5,1379.530,19028.0,2019,April,Friday,4,weekdays,11036.240,7991.760,first
50,SO - 0001056,2019-03-25,2019-04-07,Distributor,NZD,NXH382,79,11,5,2881.0,1325.260,14405.0,2019,March,Monday,0,weekdays,6626.300,7778.700,first
50,SO - 0007341,2017-12-01,2017-12-14,Distributor,USD,AXW291,87,13,11,2291.4,1214.442,25205.4,2017,December,Friday,4,weekdays,13358.862,11846.538,second
50,SO - 0002406,2019-09-23,2019-09-30,Distributor,NZD,FLR025,74,11,10,3892.7,1557.080,38927.0,2019,September,Monday,0,weekdays,15570.800,23356.200,second
50,SO - 0005854,2019-07-11,2019-07-23,Export,EUR,NXH382,34,5,9,2338.3,1215.916,21044.7,2019,July,Thursday,3,weekdays,10943.244,10101.456,second